# Copyright (c) 2024 Cadence Design Systems, Inc.
# SPDX-License-Identifier: Apache-2.0

if SOC_XTENSA_HIFI5S_4C_L2

config SOC_XTENSA_HIFI5S_4C_L2
	select XTENSA_GEN_HANDLERS

config MP_MAX_NUM_CPUS
	default 4

endif
