# Copyright (c) 2024 Cadence Design Systems, Inc.
# SPDX-License-Identifier: Apache-2.0

if SOC_XTENSA_HIFI5S_2C_L2

config SOC_XTENSA_HIFI5S_2C_L2
	select XTENSA_GEN_HANDLERS
	select SCHED_IPI_SUPPORTED if SMP

config MP_MAX_NUM_CPUS
	default 2

endif
